body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 100vh;
    background: linear-gradient(green, #132201);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust the height for button space */
}

.button {
    background-color: red; /* Set the button background to red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; /* Set the button position to absolute */
}

h1 {
    padding-top: 2em;
}

p {
    margin: 1em 0;
}

.image-container {
    margin-top: 2em;
}

img {
    width: 40em;
    max-width: 90%;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.begin-game-container {
    position: absolute;
    top: 50px; /* Adjust the distance from the top */
    left: calc(50% - 50px); /* Adjust the distance from the left (50% - 50px) */
    transform: translateX(-50%);
}

#redButton {
    top: 50%; /* Center the red button vertically */
    left: 50%; /* Center the red button horizontally */
}

/* Responsive Styles for Mobile Phones */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .image-container {
        margin-top: 1em;
    }

    img {
        width: 30em;
    }

    .begin-game-container {
        top: 20px; /* Adjust the distance from the top for mobile */
        left: calc(50% - 80px); /* Adjust the distance from the left for mobile */
    }

    #redButton {
        font-size: 14px;
    }
}
