body{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: #000;
    color: #fff;
    height: 100vh;
background: linear-gradient(green, #132201);
}

h1 {
    padding-top: 4em;
}

p{
    margin: 2em 0;
}

img {
    width: 40em;
    max-width: 90%;
}